* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1024px) {
  .explore-section .title-sub,
  .contact-section .title-sub,
  .deals-section .title-sub {
    color: #001524;
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
  }
  .explore-section .title-sub p,
  .contact-section .title-sub p,
  .deals-section .title-sub p {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .explore-section .sub-title p,
  .contact-section .sub-title p,
  .deals-section .sub-title p {
    font-size: 20px;
    padding: 10px 0;
  }
  .explore-section .explore-deals-sub,
  .contact-section .explore-deals-sub,
  .deals-section .explore-deals-sub {
    color: white;
  }
  body header .navigation-container {
    width: 100%;
    height: fit-content;
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #001524;
  }
  body header .navigation-container .logo-sub {
    display: inherit;
    flex-direction: inherit;
    justify-items: inherit;
  }
  body header .navigation-container .logo-sub img {
    width: 150px;
    height: 40px;
  }
  body header .navigation-container .login-sub {
    cursor: pointer;
    display: inherit;
    flex-direction: inherit;
    justify-items: inherit;
  }
  body header .navigation-container .login-sub .fa-user {
    background-color: white;
    padding: 10px;
    border-radius: 100%;
    font-size: 20px;
    color: #001524;
  }
  body header .navigation-container .login-sub .fa-user:hover {
    color: #78c091;
  }
  body header .navigation-container .navigation-link-sub {
    cursor: pointer;
    display: inherit;
    text-transform: capitalize;
  }
  body header .navigation-container .navigation-link-sub li {
    margin: 0 10px;
    list-style: none;
    text-decoration: none;
    display: inherit;
    justify-content: inherit;
    justify-items: inherit;
  }
  body header .navigation-container .navigation-link-sub li a {
    text-decoration: none;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 300;
    color: white;
    margin: 0 10px;
  }
  body header .navigation-container .navigation-link-sub li a:hover {
    color: #78c091;
  }
  body main .image-container {
    position: relative;
    width: 100vw;
    height: 80vh;
  }
  body main .image-container img {
    z-index: 1;
    position: relative;
    width: inherit;
    height: inherit;
    image-rendering: auto;
  }
  body main .image-container .search-container {
    display: inherit;
    flex-wrap: wrap;
    z-index: 2;
    position: absolute;
    top: 100px;
    left: 200px;
    background: #001524;
    color: white;
    width: 75%;
    margin: 0 auto;
    height: 58%;
    border-radius: 10px;
    text-transform: capitalize;
  }
  body main .image-container .search-container .search-btn-sub {
    position: relative;
    text-align: center;
    padding: 20px 0;
  }
  body main .image-container .search-container .search-btn-sub .search-btn {
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    border: 0.5px solid #001524;
    width: 50%;
    text-transform: capitalize;
    background-color: #78c091;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
  body main .image-container .search-container .search-btn-sub .search-btn:hover {
    background-color: rgba(120, 192, 145, 0.849);
  }
  body main .image-container .search-container .search-input-sub {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  body main .image-container .search-container .search-input-sub .airport-sub,
  body main .image-container .search-container .search-input-sub .date-departure-sub,
  body main .image-container .search-container .search-input-sub .date-return-sub {
    position: relative;
    display: inherit;
    flex-direction: column;
    letter-spacing: 1px;
    margin-left: 10px;
  }
  body main .image-container .search-container .search-input-sub .airport-sub .label,
  body main .image-container .search-container .search-input-sub .date-departure-sub .label,
  body main .image-container .search-container .search-input-sub .date-return-sub .label {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  body main .image-container .search-container .search-input-sub .airport-sub .input-date,
  body main .image-container .search-container .search-input-sub .date-departure-sub .input-date,
  body main .image-container .search-container .search-input-sub .date-return-sub .input-date {
    padding: 5px 10px;
  }
  body main .image-container .search-container .search-input-sub .airport-sub .input,
  body main .image-container .search-container .search-input-sub .date-departure-sub .input,
  body main .image-container .search-container .search-input-sub .date-return-sub .input {
    text-align: left;
    padding-right: 6rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  body main .image-container .search-container .search-input-sub .airport-sub .input-one,
  body main .image-container .search-container .search-input-sub .airport-sub .input-two,
  body main .image-container .search-container .search-input-sub .date-departure-sub .input-one,
  body main .image-container .search-container .search-input-sub .date-departure-sub .input-two,
  body main .image-container .search-container .search-input-sub .date-return-sub .input-one,
  body main .image-container .search-container .search-input-sub .date-return-sub .input-two {
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 8px;
    color: #53687e;
    text-align: center;
  }
  body main .image-container .search-container .search-input-sub .airport-sub .input::placeholder,
  body main .image-container .search-container .search-input-sub .date-departure-sub .input::placeholder,
  body main .image-container .search-container .search-input-sub .date-return-sub .input::placeholder {
    text-align: left;
    padding: 0 5px;
    color: #53687e;
  }
  body main .image-container .search-container .search-container-sub {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10px;
  }
  body main .image-container .search-container .search-container-sub .menu-booking-sub {
    gap: 20px;
    display: flex;
  }
  body main .image-container .search-container .search-container-sub .menu-booking-sub .flight-sub p,
  body main .image-container .search-container .search-container-sub .menu-booking-sub .hotel-sub p,
  body main .image-container .search-container .search-container-sub .menu-booking-sub .car-sub p,
  body main .image-container .search-container .search-container-sub .menu-booking-sub .booking-sub p {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 20px;
  }
  body main .image-container .search-container .search-container-sub .menu-booking-sub .flight-sub p i,
  body main .image-container .search-container .search-container-sub .menu-booking-sub .hotel-sub p i,
  body main .image-container .search-container .search-container-sub .menu-booking-sub .car-sub p i,
  body main .image-container .search-container .search-container-sub .menu-booking-sub .booking-sub p i {
    margin: 0 5px;
  }
  body main .image-container .search-container .search-container-sub .menu-booking-sub .flight-sub .active,
  body main .image-container .search-container .search-container-sub .menu-booking-sub .hotel-sub .active,
  body main .image-container .search-container .search-container-sub .menu-booking-sub .car-sub .active,
  body main .image-container .search-container .search-container-sub .menu-booking-sub .booking-sub .active {
    color: #78c091;
  }
  body main .deals-section {
    padding: 30px 0;
    background-color: white;
  }
  body main .deals-section p {
    padding-bottom: 30px;
    text-align: center;
    font-size: 38px;
    text-transform: capitalize;
  }
  body main .deals-section .explore-deals-sub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    justify-items: center;
  }
  body main .deals-section .explore-deals-sub .deals-container-sub {
    background-color: #001524;
    width: 300px;
    padding-top: 5px;
  }
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-way-sub {
    font-size: 10px;
    padding-left: 10px;
    text-align: left;
  }
  body main .deals-section .explore-deals-sub .deals-container-sub .text-sub {
    font-size: 18px;
  }
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-destination-sub,
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-price-sub {
    font-size: 12px;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 5px;
  }
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-price-sub {
    font-size: 28px;
  }
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-footer-sub,
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-header-sub {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
  }
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-footer-sub .deals-date-sub,
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-footer-sub .deals-destination-sub,
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-header-sub .deals-date-sub,
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-header-sub .deals-destination-sub {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-footer-sub .deals-booking-sub,
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-footer-sub .deals-price-sub,
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-header-sub .deals-booking-sub,
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-header-sub .deals-price-sub {
    font-size: 14px;
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: underline;
    cursor: pointer;
  }
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-footer-sub .deals-booking-sub:hover,
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-header-sub .deals-booking-sub:hover {
    color: #db5461;
  }
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-footer-sub .deals-price-sub,
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-header-sub .deals-price-sub {
    text-decoration: none;
    font-size: 20px;
    color: #78c091;
  }
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-footer-sub .deals-destination-sub,
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-header-sub .deals-destination-sub {
    font-size: 12px;
    color: #db5461;
  }
  body main .deals-section .explore-deals-sub .deals-container-sub img {
    position: relative;
    object-fit: fill;
    width: fit-content;
    height: 200px;
  }
  body main .explore-section {
    padding: 30px 0;
    background-color: white;
  }
  body main .explore-section p {
    color: #001524;
    text-align: center;
    font-size: 38px;
    text-transform: capitalize;
  }
  body main .explore-section .explore-image-sub {
    padding: 30px 0;
    background-color: #001524;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    gap: 20px;
  }
  body main .explore-section .explore-image-sub .image-new-york {
    position: relative;
  }
  body main .explore-section .explore-image-sub .image-new-york .new-york {
    position: absolute;
    top: 90px;
    right: 70px;
  }
  body main .explore-section .explore-image-sub .image-toronto {
    position: relative;
  }
  body main .explore-section .explore-image-sub .image-toronto .toronto {
    position: absolute;
    top: 90px;
    right: 80px;
  }
  body main .explore-section .explore-image-sub .image-dubai {
    position: relative;
  }
  body main .explore-section .explore-image-sub .image-dubai .dubai {
    position: absolute;
    top: 90px;
    right: 90px;
  }
  body main .explore-section .explore-image-sub .image-mexico {
    position: relative;
  }
  body main .explore-section .explore-image-sub .image-mexico .mexico-city {
    position: absolute;
    top: 90px;
    right: 50px;
  }
  body main .explore-section .explore-image-sub .mexico-city,
  body main .explore-section .explore-image-sub .dubai,
  body main .explore-section .explore-image-sub .toronto,
  body main .explore-section .explore-image-sub .new-york {
    color: white;
    font-size: 32px;
    text-transform: capitalize;
    font-family: "Anton", sans-serif;
  }
  body main .explore-section .explore-image-sub img {
    image-rendering: auto;
    object-fit: fill;
    border-radius: 100%;
    width: 250px;
    height: 230px;
  }
  body main .contact-section .newsletter-container-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px 0;
  }
  body main .contact-section .newsletter-container-sub .deals-contact-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px 0;
  }
  body main .contact-section .newsletter-container-sub .deals-contact-sub .location-sub,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .mail-sub,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .discount-sub {
    display: inherit;
    flex-direction: column;
  }
  body main .contact-section .newsletter-container-sub .deals-contact-sub .location-sub .fa-location-dot,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .location-sub .fa-envelope,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .location-sub .fa-tag,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .mail-sub .fa-location-dot,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .mail-sub .fa-envelope,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .mail-sub .fa-tag,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .discount-sub .fa-location-dot,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .discount-sub .fa-envelope,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .discount-sub .fa-tag {
    font-size: 12rem;
    color: #78c091;
  }
  body main .contact-section .newsletter-container-sub .deals-contact-sub .location-sub span,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .mail-sub span,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .discount-sub span {
    color: #001524;
  }
  body main .contact-section .newsletter-container-sub .deals-contact-sub .location-sub span,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .mail-sub span,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .discount-sub span {
    padding-top: 10px;
    font-size: 20px;
    text-transform: capitalize;
    color: #001524;
  }
  body main .contact-section .newsletter-container-sub .subscribe-btn {
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    border: 0.5px solid #001524;
    width: 50%;
    text-transform: capitalize;
    background-color: #78c091;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
  body main .contact-section .newsletter-container-sub .subscribe-btn:hover {
    background-color: rgba(120, 192, 145, 0.849);
  }
  body main .contact-section .newsletter-container-sub .form-sub {
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: #001524;
    margin: 0 50px;
    height: fit-content;
    text-transform: capitalize;
    border-radius: 10px;
  }
  body main .contact-section .newsletter-container-sub .form-sub .join-sub {
    padding-bottom: 30px;
    color: white;
  }
  body main .contact-section .newsletter-container-sub .form-sub .join-sub .join-text {
    font-size: 20px;
    padding-bottom: 20px;
  }
  body main .contact-section .newsletter-container-sub .form-sub .join-sub .fa-arrow-down {
    font-size: 30px;
  }
  body main .contact-section .newsletter-container-sub .form-sub .form-text {
    padding-top: 30px;
    padding-bottom: 20px;
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
  }
  body main .contact-section .newsletter-container-sub .form-sub .form-email-sub input {
    width: 50%;
    height: 35px;
    padding: 0 5px;
    border-radius: 5px;
    border: 0.5px solid black;
  }
  body footer {
    background-color: #001524;
    width: 100%;
    height: fit-content;
    text-align: left;
  }
  body footer .footer-container {
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 80px;
  }
  body footer .footer-container .connect,
  body footer .footer-container .about,
  body footer .footer-container .terms-policy,
  body footer .footer-container .hours-operating {
    display: inherit;
    flex-direction: column;
  }
  body footer .footer-container .connect p,
  body footer .footer-container .about p,
  body footer .footer-container .terms-policy p,
  body footer .footer-container .hours-operating p {
    color: white;
    font-size: 28px;
    text-transform: capitalize;
    padding-bottom: 10px;
  }
  body footer .footer-container .connect .connect-sub,
  body footer .footer-container .connect .connect-about,
  body footer .footer-container .connect .terms-policy-sub,
  body footer .footer-container .connect .hours-operating-sub,
  body footer .footer-container .about .connect-sub,
  body footer .footer-container .about .connect-about,
  body footer .footer-container .about .terms-policy-sub,
  body footer .footer-container .about .hours-operating-sub,
  body footer .footer-container .terms-policy .connect-sub,
  body footer .footer-container .terms-policy .connect-about,
  body footer .footer-container .terms-policy .terms-policy-sub,
  body footer .footer-container .terms-policy .hours-operating-sub,
  body footer .footer-container .hours-operating .connect-sub,
  body footer .footer-container .hours-operating .connect-about,
  body footer .footer-container .hours-operating .terms-policy-sub,
  body footer .footer-container .hours-operating .hours-operating-sub {
    display: inherit;
    flex-direction: inherit;
  }
  body footer .footer-container .connect .connect-sub li,
  body footer .footer-container .connect .connect-about li,
  body footer .footer-container .connect .terms-policy-sub li,
  body footer .footer-container .connect .hours-operating-sub li,
  body footer .footer-container .about .connect-sub li,
  body footer .footer-container .about .connect-about li,
  body footer .footer-container .about .terms-policy-sub li,
  body footer .footer-container .about .hours-operating-sub li,
  body footer .footer-container .terms-policy .connect-sub li,
  body footer .footer-container .terms-policy .connect-about li,
  body footer .footer-container .terms-policy .terms-policy-sub li,
  body footer .footer-container .terms-policy .hours-operating-sub li,
  body footer .footer-container .hours-operating .connect-sub li,
  body footer .footer-container .hours-operating .connect-about li,
  body footer .footer-container .hours-operating .terms-policy-sub li,
  body footer .footer-container .hours-operating .hours-operating-sub li {
    color: white;
    text-transform: capitalize;
    list-style: none;
    padding: 8px 0;
  }
  body footer .footer-container .connect .connect-sub li a,
  body footer .footer-container .connect .connect-sub li a:active,
  body footer .footer-container .connect .connect-about li a,
  body footer .footer-container .connect .connect-about li a:active,
  body footer .footer-container .connect .terms-policy-sub li a,
  body footer .footer-container .connect .terms-policy-sub li a:active,
  body footer .footer-container .connect .hours-operating-sub li a,
  body footer .footer-container .connect .hours-operating-sub li a:active,
  body footer .footer-container .about .connect-sub li a,
  body footer .footer-container .about .connect-sub li a:active,
  body footer .footer-container .about .connect-about li a,
  body footer .footer-container .about .connect-about li a:active,
  body footer .footer-container .about .terms-policy-sub li a,
  body footer .footer-container .about .terms-policy-sub li a:active,
  body footer .footer-container .about .hours-operating-sub li a,
  body footer .footer-container .about .hours-operating-sub li a:active,
  body footer .footer-container .terms-policy .connect-sub li a,
  body footer .footer-container .terms-policy .connect-sub li a:active,
  body footer .footer-container .terms-policy .connect-about li a,
  body footer .footer-container .terms-policy .connect-about li a:active,
  body footer .footer-container .terms-policy .terms-policy-sub li a,
  body footer .footer-container .terms-policy .terms-policy-sub li a:active,
  body footer .footer-container .terms-policy .hours-operating-sub li a,
  body footer .footer-container .terms-policy .hours-operating-sub li a:active,
  body footer .footer-container .hours-operating .connect-sub li a,
  body footer .footer-container .hours-operating .connect-sub li a:active,
  body footer .footer-container .hours-operating .connect-about li a,
  body footer .footer-container .hours-operating .connect-about li a:active,
  body footer .footer-container .hours-operating .terms-policy-sub li a,
  body footer .footer-container .hours-operating .terms-policy-sub li a:active,
  body footer .footer-container .hours-operating .hours-operating-sub li a,
  body footer .footer-container .hours-operating .hours-operating-sub li a:active {
    color: white;
    text-transform: capitalize;
    font-size: 18px;
    text-decoration: none;
  }
  body footer .footer-container .connect .connect-sub li a:hover,
  body footer .footer-container .connect .connect-about li a:hover,
  body footer .footer-container .connect .terms-policy-sub li a:hover,
  body footer .footer-container .connect .hours-operating-sub li a:hover,
  body footer .footer-container .about .connect-sub li a:hover,
  body footer .footer-container .about .connect-about li a:hover,
  body footer .footer-container .about .terms-policy-sub li a:hover,
  body footer .footer-container .about .hours-operating-sub li a:hover,
  body footer .footer-container .terms-policy .connect-sub li a:hover,
  body footer .footer-container .terms-policy .connect-about li a:hover,
  body footer .footer-container .terms-policy .terms-policy-sub li a:hover,
  body footer .footer-container .terms-policy .hours-operating-sub li a:hover,
  body footer .footer-container .hours-operating .connect-sub li a:hover,
  body footer .footer-container .hours-operating .connect-about li a:hover,
  body footer .footer-container .hours-operating .terms-policy-sub li a:hover,
  body footer .footer-container .hours-operating .hours-operating-sub li a:hover {
    color: #78c091;
  }
  body footer .footer-container .connect .connect-sub .social-media,
  body footer .footer-container .connect .connect-about .social-media,
  body footer .footer-container .connect .terms-policy-sub .social-media,
  body footer .footer-container .connect .hours-operating-sub .social-media,
  body footer .footer-container .about .connect-sub .social-media,
  body footer .footer-container .about .connect-about .social-media,
  body footer .footer-container .about .terms-policy-sub .social-media,
  body footer .footer-container .about .hours-operating-sub .social-media,
  body footer .footer-container .terms-policy .connect-sub .social-media,
  body footer .footer-container .terms-policy .connect-about .social-media,
  body footer .footer-container .terms-policy .terms-policy-sub .social-media,
  body footer .footer-container .terms-policy .hours-operating-sub .social-media,
  body footer .footer-container .hours-operating .connect-sub .social-media,
  body footer .footer-container .hours-operating .connect-about .social-media,
  body footer .footer-container .hours-operating .terms-policy-sub .social-media,
  body footer .footer-container .hours-operating .hours-operating-sub .social-media {
    text-align: left;
    font-size: 18px;
    padding: 10px;
  }
  body footer .footer-container .connect .connect-sub .social-media .social-media-sub,
  body footer .footer-container .connect .connect-about .social-media .social-media-sub,
  body footer .footer-container .connect .terms-policy-sub .social-media .social-media-sub,
  body footer .footer-container .connect .hours-operating-sub .social-media .social-media-sub,
  body footer .footer-container .about .connect-sub .social-media .social-media-sub,
  body footer .footer-container .about .connect-about .social-media .social-media-sub,
  body footer .footer-container .about .terms-policy-sub .social-media .social-media-sub,
  body footer .footer-container .about .hours-operating-sub .social-media .social-media-sub,
  body footer .footer-container .terms-policy .connect-sub .social-media .social-media-sub,
  body footer .footer-container .terms-policy .connect-about .social-media .social-media-sub,
  body footer .footer-container .terms-policy .terms-policy-sub .social-media .social-media-sub,
  body footer .footer-container .terms-policy .hours-operating-sub .social-media .social-media-sub,
  body footer .footer-container .hours-operating .connect-sub .social-media .social-media-sub,
  body footer .footer-container .hours-operating .connect-about .social-media .social-media-sub,
  body footer .footer-container .hours-operating .terms-policy-sub .social-media .social-media-sub,
  body footer .footer-container .hours-operating .hours-operating-sub .social-media .social-media-sub {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  body footer .footer-container .connect .connect-sub .social-media .social-media-sub p,
  body footer .footer-container .connect .connect-about .social-media .social-media-sub p,
  body footer .footer-container .connect .terms-policy-sub .social-media .social-media-sub p,
  body footer .footer-container .connect .hours-operating-sub .social-media .social-media-sub p,
  body footer .footer-container .about .connect-sub .social-media .social-media-sub p,
  body footer .footer-container .about .connect-about .social-media .social-media-sub p,
  body footer .footer-container .about .terms-policy-sub .social-media .social-media-sub p,
  body footer .footer-container .about .hours-operating-sub .social-media .social-media-sub p,
  body footer .footer-container .terms-policy .connect-sub .social-media .social-media-sub p,
  body footer .footer-container .terms-policy .connect-about .social-media .social-media-sub p,
  body footer .footer-container .terms-policy .terms-policy-sub .social-media .social-media-sub p,
  body footer .footer-container .terms-policy .hours-operating-sub .social-media .social-media-sub p,
  body footer .footer-container .hours-operating .connect-sub .social-media .social-media-sub p,
  body footer .footer-container .hours-operating .connect-about .social-media .social-media-sub p,
  body footer .footer-container .hours-operating .terms-policy-sub .social-media .social-media-sub p,
  body footer .footer-container .hours-operating .hours-operating-sub .social-media .social-media-sub p {
    padding: 20px;
  }
  body footer .footer-container .connect .connect-sub .social-media a,
  body footer .footer-container .connect .connect-about .social-media a,
  body footer .footer-container .connect .terms-policy-sub .social-media a,
  body footer .footer-container .connect .hours-operating-sub .social-media a,
  body footer .footer-container .about .connect-sub .social-media a,
  body footer .footer-container .about .connect-about .social-media a,
  body footer .footer-container .about .terms-policy-sub .social-media a,
  body footer .footer-container .about .hours-operating-sub .social-media a,
  body footer .footer-container .terms-policy .connect-sub .social-media a,
  body footer .footer-container .terms-policy .connect-about .social-media a,
  body footer .footer-container .terms-policy .terms-policy-sub .social-media a,
  body footer .footer-container .terms-policy .hours-operating-sub .social-media a,
  body footer .footer-container .hours-operating .connect-sub .social-media a,
  body footer .footer-container .hours-operating .connect-about .social-media a,
  body footer .footer-container .hours-operating .terms-policy-sub .social-media a,
  body footer .footer-container .hours-operating .hours-operating-sub .social-media a {
    display: flex;
    text-decoration: none;
    margin: 5px;
    color: white;
    padding: 20px;
    background-color: #78c091;
    border-radius: 100%;
  }
  body footer .footer-container .connect .connect-sub .social-media a i,
  body footer .footer-container .connect .connect-about .social-media a i,
  body footer .footer-container .connect .terms-policy-sub .social-media a i,
  body footer .footer-container .connect .hours-operating-sub .social-media a i,
  body footer .footer-container .about .connect-sub .social-media a i,
  body footer .footer-container .about .connect-about .social-media a i,
  body footer .footer-container .about .terms-policy-sub .social-media a i,
  body footer .footer-container .about .hours-operating-sub .social-media a i,
  body footer .footer-container .terms-policy .connect-sub .social-media a i,
  body footer .footer-container .terms-policy .connect-about .social-media a i,
  body footer .footer-container .terms-policy .terms-policy-sub .social-media a i,
  body footer .footer-container .terms-policy .hours-operating-sub .social-media a i,
  body footer .footer-container .hours-operating .connect-sub .social-media a i,
  body footer .footer-container .hours-operating .connect-about .social-media a i,
  body footer .footer-container .hours-operating .terms-policy-sub .social-media a i,
  body footer .footer-container .hours-operating .hours-operating-sub .social-media a i {
    font-size: 24px;
  }
  body footer .copy-right {
    text-align: center;
  }
  body footer .copy-right p {
    color: white;
    text-transform: capitalize;
    padding: 10px;
    font-size: 16px;
  }
}
@media screen and (max-width: 1023px) {
  .explore-section .title-sub,
  .contact-section .title-sub,
  .deals-section .title-sub {
    color: #001524;
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
  }
  .explore-section .title-sub p,
  .contact-section .title-sub p,
  .deals-section .title-sub p {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .explore-section .sub-title p,
  .contact-section .sub-title p,
  .deals-section .sub-title p {
    font-size: 16px;
    padding: 10px 0;
  }
  .explore-section .explore-deals-sub,
  .contact-section .explore-deals-sub,
  .deals-section .explore-deals-sub {
    color: white;
  }
  body header .navigation-container {
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #001524;
  }
  body header .navigation-container .logo-sub img {
    width: 150px;
    height: 40px;
  }
  body header .navigation-container .mobile-gamburger-sub {
    position: relative;
    border: 1px solid #78c091;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 0 4px;
  }
  body header .navigation-container .mobile-gamburger-sub .hamburger-navigation-link-sub {
    position: relative;
  }
  body header .navigation-container .mobile-gamburger-sub .hamburger-navigation-link-sub .one {
    background-color: white;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 8px;
    right: 5px;
  }
  body header .navigation-container .mobile-gamburger-sub .hamburger-navigation-link-sub .two {
    background-color: white;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 18px;
    right: 5px;
  }
  body header .navigation-container .mobile-gamburger-sub .hamburger-navigation-link-sub .three {
    background-color: white;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 28px;
    right: 5px;
  }
  body header .navigation-container .navigation-link-sub {
    display: none;
  }
  body header .navigation-container .login-sub {
    display: none;
  }
  body main .image-container {
    width: 100vw;
    height: 90vh;
  }
  body main .image-container img {
    z-index: 1;
    position: relative;
    width: inherit;
    height: inherit;
    image-rendering: auto;
  }
  body main .image-container span {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: inherit;
    height: inherit;
  }
  body main .deals-section {
    padding: 30px 0;
    background-color: white;
  }
  body main .deals-section p {
    padding-bottom: 30px;
    text-align: center;
    font-size: 38px;
    text-transform: capitalize;
  }
  body main .deals-section .explore-deals-sub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    justify-items: center;
  }
  body main .deals-section .explore-deals-sub .deals-container-sub {
    background-color: #001524;
    padding-top: 5px;
  }
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-way-sub {
    font-size: 10px;
    padding-left: 10px;
    text-align: left;
  }
  body main .deals-section .explore-deals-sub .deals-container-sub .text-sub {
    font-size: 18px;
  }
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-destination-sub,
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-price-sub {
    font-size: 12px;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 5px;
  }
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-price-sub {
    font-size: 28px;
  }
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-footer-sub,
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-header-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
  }
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-footer-sub .deals-date-sub,
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-footer-sub .deals-destination-sub,
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-header-sub .deals-date-sub,
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-header-sub .deals-destination-sub {
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-footer-sub .deals-booking-sub,
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-footer-sub .deals-price-sub,
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-header-sub .deals-booking-sub,
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-header-sub .deals-price-sub {
    font-size: 14px;
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: underline;
    cursor: pointer;
  }
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-footer-sub .deals-booking-sub:hover,
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-header-sub .deals-booking-sub:hover {
    color: #db5461;
  }
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-footer-sub .deals-price-sub,
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-header-sub .deals-price-sub {
    text-decoration: none;
    font-size: 20px;
    color: #78c091;
  }
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-footer-sub .deals-destination-sub,
  body main .deals-section .explore-deals-sub .deals-container-sub .deals-container-header-sub .deals-destination-sub {
    font-size: 12px;
    color: #db5461;
  }
  body main .deals-section .explore-deals-sub .deals-container-sub img {
    image-rendering: auto;
    object-fit: cover;
    width: fit-content;
    height: 200px;
  }
  body main .explore-section {
    padding: 30px 0;
    background-color: white;
  }
  body main .explore-section p {
    color: #001524;
    text-align: center;
    text-transform: capitalize;
  }
  body main .explore-section .explore-image-sub {
    padding: 30px 0;
    background-color: #001524;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    gap: 20px;
  }
  body main .explore-section .explore-image-sub .image-new-york {
    position: relative;
  }
  body main .explore-section .explore-image-sub .image-new-york .new-york {
    position: absolute;
    top: 90px;
    right: 70px;
  }
  body main .explore-section .explore-image-sub .image-toronto {
    position: relative;
  }
  body main .explore-section .explore-image-sub .image-toronto .toronto {
    position: absolute;
    top: 90px;
    right: 80px;
  }
  body main .explore-section .explore-image-sub .image-dubai {
    position: relative;
  }
  body main .explore-section .explore-image-sub .image-dubai .dubai {
    position: absolute;
    top: 90px;
    right: 90px;
  }
  body main .explore-section .explore-image-sub .image-mexico {
    position: relative;
  }
  body main .explore-section .explore-image-sub .image-mexico .mexico-city {
    position: absolute;
    top: 90px;
    right: 50px;
  }
  body main .explore-section .explore-image-sub .mexico-city,
  body main .explore-section .explore-image-sub .dubai,
  body main .explore-section .explore-image-sub .toronto,
  body main .explore-section .explore-image-sub .new-york {
    color: white;
    font-size: 32px;
    text-transform: capitalize;
    font-family: "Anton", sans-serif;
  }
  body main .explore-section .explore-image-sub img {
    image-rendering: auto;
    object-fit: fill;
    border-radius: 100%;
    width: 250px;
    height: 230px;
  }
  body main .contact-section .newsletter-container-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px 0;
  }
  body main .contact-section .newsletter-container-sub .deals-contact-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px 0;
    gap: 20px;
  }
  body main .contact-section .newsletter-container-sub .deals-contact-sub .location-sub,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .mail-sub,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .discount-sub {
    display: inherit;
    flex-direction: column;
  }
  body main .contact-section .newsletter-container-sub .deals-contact-sub .location-sub .fa-location-dot,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .location-sub .fa-envelope,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .location-sub .fa-tag,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .mail-sub .fa-location-dot,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .mail-sub .fa-envelope,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .mail-sub .fa-tag,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .discount-sub .fa-location-dot,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .discount-sub .fa-envelope,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .discount-sub .fa-tag {
    font-size: 3rem;
    color: #78c091;
  }
  body main .contact-section .newsletter-container-sub .deals-contact-sub .location-sub span,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .mail-sub span,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .discount-sub span {
    color: #001524;
  }
  body main .contact-section .newsletter-container-sub .deals-contact-sub .location-sub span,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .mail-sub span,
  body main .contact-section .newsletter-container-sub .deals-contact-sub .discount-sub span {
    padding-top: 10px;
    font-size: 20px;
    text-transform: capitalize;
    color: #001524;
  }
  body main .contact-section .newsletter-container-sub .subscribe-btn {
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 5px;
    border: 0.5px solid #001524;
    width: 50%;
    text-transform: capitalize;
    background-color: #78c091;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }
  body main .contact-section .newsletter-container-sub .subscribe-btn:hover {
    background-color: rgba(120, 192, 145, 0.849);
  }
  body main .contact-section .newsletter-container-sub .form-sub {
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: #001524;
    margin: 0 20px;
    height: fit-content;
    text-transform: capitalize;
    border-radius: 10px;
  }
  body main .contact-section .newsletter-container-sub .form-sub .join-sub {
    padding-bottom: 30px;
    color: white;
  }
  body main .contact-section .newsletter-container-sub .form-sub .join-sub .join-text {
    font-size: 20px;
    padding-bottom: 20px;
  }
  body main .contact-section .newsletter-container-sub .form-sub .join-sub .fa-arrow-down {
    font-size: 30px;
  }
  body main .contact-section .newsletter-container-sub .form-sub .form-text {
    padding-top: 30px;
    padding-bottom: 20px;
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 2px;
    color: white;
  }
  body main .contact-section .newsletter-container-sub .form-sub .form-email-sub input {
    width: 50%;
    height: 35px;
    padding: 0 5px;
    border-radius: 5px;
    border: 0.5px solid black;
  }
  body footer {
    background-color: #001524;
    width: 100%;
    height: fit-content;
    text-align: left;
  }
  body footer .footer-container {
    text-align: center;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 80px;
  }
  body footer .footer-container .connect,
  body footer .footer-container .about,
  body footer .footer-container .terms-policy,
  body footer .footer-container .hours-operating {
    display: inherit;
    flex-direction: column;
  }
  body footer .footer-container .connect p,
  body footer .footer-container .about p,
  body footer .footer-container .terms-policy p,
  body footer .footer-container .hours-operating p {
    color: white;
    font-size: 28px;
    text-transform: capitalize;
    padding-bottom: 10px;
  }
  body footer .footer-container .connect .connect-sub,
  body footer .footer-container .connect .connect-about,
  body footer .footer-container .connect .terms-policy-sub,
  body footer .footer-container .connect .hours-operating-sub,
  body footer .footer-container .about .connect-sub,
  body footer .footer-container .about .connect-about,
  body footer .footer-container .about .terms-policy-sub,
  body footer .footer-container .about .hours-operating-sub,
  body footer .footer-container .terms-policy .connect-sub,
  body footer .footer-container .terms-policy .connect-about,
  body footer .footer-container .terms-policy .terms-policy-sub,
  body footer .footer-container .terms-policy .hours-operating-sub,
  body footer .footer-container .hours-operating .connect-sub,
  body footer .footer-container .hours-operating .connect-about,
  body footer .footer-container .hours-operating .terms-policy-sub,
  body footer .footer-container .hours-operating .hours-operating-sub {
    display: inherit;
    flex-direction: inherit;
  }
  body footer .footer-container .connect .connect-sub li,
  body footer .footer-container .connect .connect-about li,
  body footer .footer-container .connect .terms-policy-sub li,
  body footer .footer-container .connect .hours-operating-sub li,
  body footer .footer-container .about .connect-sub li,
  body footer .footer-container .about .connect-about li,
  body footer .footer-container .about .terms-policy-sub li,
  body footer .footer-container .about .hours-operating-sub li,
  body footer .footer-container .terms-policy .connect-sub li,
  body footer .footer-container .terms-policy .connect-about li,
  body footer .footer-container .terms-policy .terms-policy-sub li,
  body footer .footer-container .terms-policy .hours-operating-sub li,
  body footer .footer-container .hours-operating .connect-sub li,
  body footer .footer-container .hours-operating .connect-about li,
  body footer .footer-container .hours-operating .terms-policy-sub li,
  body footer .footer-container .hours-operating .hours-operating-sub li {
    color: white;
    text-transform: capitalize;
    list-style: none;
    padding: 8px 0;
  }
  body footer .footer-container .connect .connect-sub li a,
  body footer .footer-container .connect .connect-sub li a:active,
  body footer .footer-container .connect .connect-about li a,
  body footer .footer-container .connect .connect-about li a:active,
  body footer .footer-container .connect .terms-policy-sub li a,
  body footer .footer-container .connect .terms-policy-sub li a:active,
  body footer .footer-container .connect .hours-operating-sub li a,
  body footer .footer-container .connect .hours-operating-sub li a:active,
  body footer .footer-container .about .connect-sub li a,
  body footer .footer-container .about .connect-sub li a:active,
  body footer .footer-container .about .connect-about li a,
  body footer .footer-container .about .connect-about li a:active,
  body footer .footer-container .about .terms-policy-sub li a,
  body footer .footer-container .about .terms-policy-sub li a:active,
  body footer .footer-container .about .hours-operating-sub li a,
  body footer .footer-container .about .hours-operating-sub li a:active,
  body footer .footer-container .terms-policy .connect-sub li a,
  body footer .footer-container .terms-policy .connect-sub li a:active,
  body footer .footer-container .terms-policy .connect-about li a,
  body footer .footer-container .terms-policy .connect-about li a:active,
  body footer .footer-container .terms-policy .terms-policy-sub li a,
  body footer .footer-container .terms-policy .terms-policy-sub li a:active,
  body footer .footer-container .terms-policy .hours-operating-sub li a,
  body footer .footer-container .terms-policy .hours-operating-sub li a:active,
  body footer .footer-container .hours-operating .connect-sub li a,
  body footer .footer-container .hours-operating .connect-sub li a:active,
  body footer .footer-container .hours-operating .connect-about li a,
  body footer .footer-container .hours-operating .connect-about li a:active,
  body footer .footer-container .hours-operating .terms-policy-sub li a,
  body footer .footer-container .hours-operating .terms-policy-sub li a:active,
  body footer .footer-container .hours-operating .hours-operating-sub li a,
  body footer .footer-container .hours-operating .hours-operating-sub li a:active {
    color: white;
    text-transform: capitalize;
    font-size: 18px;
    text-decoration: none;
  }
  body footer .footer-container .connect .connect-sub .social-media,
  body footer .footer-container .connect .connect-about .social-media,
  body footer .footer-container .connect .terms-policy-sub .social-media,
  body footer .footer-container .connect .hours-operating-sub .social-media,
  body footer .footer-container .about .connect-sub .social-media,
  body footer .footer-container .about .connect-about .social-media,
  body footer .footer-container .about .terms-policy-sub .social-media,
  body footer .footer-container .about .hours-operating-sub .social-media,
  body footer .footer-container .terms-policy .connect-sub .social-media,
  body footer .footer-container .terms-policy .connect-about .social-media,
  body footer .footer-container .terms-policy .terms-policy-sub .social-media,
  body footer .footer-container .terms-policy .hours-operating-sub .social-media,
  body footer .footer-container .hours-operating .connect-sub .social-media,
  body footer .footer-container .hours-operating .connect-about .social-media,
  body footer .footer-container .hours-operating .terms-policy-sub .social-media,
  body footer .footer-container .hours-operating .hours-operating-sub .social-media {
    text-align: center;
    font-size: 18px;
    padding-top: 30px;
  }
  body footer .footer-container .connect .connect-sub .social-media .social-media-sub,
  body footer .footer-container .connect .connect-about .social-media .social-media-sub,
  body footer .footer-container .connect .terms-policy-sub .social-media .social-media-sub,
  body footer .footer-container .connect .hours-operating-sub .social-media .social-media-sub,
  body footer .footer-container .about .connect-sub .social-media .social-media-sub,
  body footer .footer-container .about .connect-about .social-media .social-media-sub,
  body footer .footer-container .about .terms-policy-sub .social-media .social-media-sub,
  body footer .footer-container .about .hours-operating-sub .social-media .social-media-sub,
  body footer .footer-container .terms-policy .connect-sub .social-media .social-media-sub,
  body footer .footer-container .terms-policy .connect-about .social-media .social-media-sub,
  body footer .footer-container .terms-policy .terms-policy-sub .social-media .social-media-sub,
  body footer .footer-container .terms-policy .hours-operating-sub .social-media .social-media-sub,
  body footer .footer-container .hours-operating .connect-sub .social-media .social-media-sub,
  body footer .footer-container .hours-operating .connect-about .social-media .social-media-sub,
  body footer .footer-container .hours-operating .terms-policy-sub .social-media .social-media-sub,
  body footer .footer-container .hours-operating .hours-operating-sub .social-media .social-media-sub {
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
  }
  body footer .footer-container .connect .connect-sub .social-media .social-media-sub p,
  body footer .footer-container .connect .connect-about .social-media .social-media-sub p,
  body footer .footer-container .connect .terms-policy-sub .social-media .social-media-sub p,
  body footer .footer-container .connect .hours-operating-sub .social-media .social-media-sub p,
  body footer .footer-container .about .connect-sub .social-media .social-media-sub p,
  body footer .footer-container .about .connect-about .social-media .social-media-sub p,
  body footer .footer-container .about .terms-policy-sub .social-media .social-media-sub p,
  body footer .footer-container .about .hours-operating-sub .social-media .social-media-sub p,
  body footer .footer-container .terms-policy .connect-sub .social-media .social-media-sub p,
  body footer .footer-container .terms-policy .connect-about .social-media .social-media-sub p,
  body footer .footer-container .terms-policy .terms-policy-sub .social-media .social-media-sub p,
  body footer .footer-container .terms-policy .hours-operating-sub .social-media .social-media-sub p,
  body footer .footer-container .hours-operating .connect-sub .social-media .social-media-sub p,
  body footer .footer-container .hours-operating .connect-about .social-media .social-media-sub p,
  body footer .footer-container .hours-operating .terms-policy-sub .social-media .social-media-sub p,
  body footer .footer-container .hours-operating .hours-operating-sub .social-media .social-media-sub p {
    padding: 20px 0;
  }
  body footer .footer-container .connect .connect-sub .social-media a,
  body footer .footer-container .connect .connect-about .social-media a,
  body footer .footer-container .connect .terms-policy-sub .social-media a,
  body footer .footer-container .connect .hours-operating-sub .social-media a,
  body footer .footer-container .about .connect-sub .social-media a,
  body footer .footer-container .about .connect-about .social-media a,
  body footer .footer-container .about .terms-policy-sub .social-media a,
  body footer .footer-container .about .hours-operating-sub .social-media a,
  body footer .footer-container .terms-policy .connect-sub .social-media a,
  body footer .footer-container .terms-policy .connect-about .social-media a,
  body footer .footer-container .terms-policy .terms-policy-sub .social-media a,
  body footer .footer-container .terms-policy .hours-operating-sub .social-media a,
  body footer .footer-container .hours-operating .connect-sub .social-media a,
  body footer .footer-container .hours-operating .connect-about .social-media a,
  body footer .footer-container .hours-operating .terms-policy-sub .social-media a,
  body footer .footer-container .hours-operating .hours-operating-sub .social-media a {
    width: 70px;
    margin: 10px auto;
    color: white;
    padding: 20px 0;
    background-color: #78c091;
    border-radius: 100%;
  }
  body footer .footer-container .connect .connect-sub .social-media a i,
  body footer .footer-container .connect .connect-about .social-media a i,
  body footer .footer-container .connect .terms-policy-sub .social-media a i,
  body footer .footer-container .connect .hours-operating-sub .social-media a i,
  body footer .footer-container .about .connect-sub .social-media a i,
  body footer .footer-container .about .connect-about .social-media a i,
  body footer .footer-container .about .terms-policy-sub .social-media a i,
  body footer .footer-container .about .hours-operating-sub .social-media a i,
  body footer .footer-container .terms-policy .connect-sub .social-media a i,
  body footer .footer-container .terms-policy .connect-about .social-media a i,
  body footer .footer-container .terms-policy .terms-policy-sub .social-media a i,
  body footer .footer-container .terms-policy .hours-operating-sub .social-media a i,
  body footer .footer-container .hours-operating .connect-sub .social-media a i,
  body footer .footer-container .hours-operating .connect-about .social-media a i,
  body footer .footer-container .hours-operating .terms-policy-sub .social-media a i,
  body footer .footer-container .hours-operating .hours-operating-sub .social-media a i {
    font-size: 20px;
  }
  body footer .copy-right {
    text-align: center;
  }
  body footer .copy-right p {
    color: white;
    text-transform: capitalize;
    padding: 10px;
    font-size: 16px;
  }
}

/*# sourceMappingURL=main.css.map */
