* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

// WINDOWS VIEW

@media screen and (min-width: 1024px) {
  .explore-section,
  .contact-section,
  .deals-section {
    .title-sub {
      color: #001524;
      font-size: 40px;
      text-transform: capitalize;
      text-align: center;
      p {
        font-size: 24px;
        padding-top: 20px;
        padding-bottom: 10px;
      }
    }
    .sub-title {
      p {
        font-size: 20px;
        padding: 10px 0;
      }
    }
    .explore-deals-sub {
      color: white;
    }
  }

  body {
    // NAVIGATION SECTION

    header {
      .navigation-container {
        width: 100%;
        height: fit-content;
        z-index: 10;
        position: fixed;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: #001524;
        .logo-sub {
          display: inherit;
          flex-direction: inherit;
          justify-items: inherit;
          img {
            width: 150px;
            height: 40px;
          }
        }
        .login-sub {
          cursor: pointer;
          display: inherit;
          flex-direction: inherit;
          justify-items: inherit;
          .fa-user {
            background-color: white;
            padding: 10px;
            border-radius: 100%;
            font-size: 20px;
            color: #001524;
          }
          .fa-user:hover {
            color: #78c091;
          }
        }
        .navigation-link-sub {
          cursor: pointer;
          display: inherit;
          text-transform: capitalize;
          li {
            margin: 0 10px;
            list-style: none;
            text-decoration: none;
            display: inherit;
            justify-content: inherit;
            justify-items: inherit;
            a {
              text-decoration: none;
              padding: 10px 10px;
              font-size: 18px;
              font-weight: 300;
              color: white;
              margin: 0 10px;
            }
            a:hover {
              color: #78c091;
            }
          }
        }
      }
    }
    // END NAVIGATION SECTION

    // MAIN SECTION
    main {
      .image-container {
        position: relative;
        width: 100vw;
        height: 80vh;
        img {
          z-index: 1;
          position: relative;
          width: inherit;
          height: inherit;
          image-rendering: auto;
        }
        .search-container {
          display: inherit;
          flex-wrap: wrap;
          z-index: 2;
          position: absolute;
          top: 100px;
          left: 200px;
          background: #001524;
          color: white;
          width: 75%;
          margin: 0 auto;
          height: 58%;
          border-radius: 10px;
          text-transform: capitalize;
          .search-btn-sub {
            position: relative;
            text-align: center;
            padding: 20px 0;
            .search-btn {
              margin-top: 20px;
              padding: 10px 30px;
              border-radius: 5px;
              border: 0.5px solid #001524;
              width: 50%;
              text-transform: capitalize;
              background-color: #78c091;
              color: white;
              font-size: 18px;
              font-weight: 600;
              cursor: pointer;
            }
            .search-btn:hover {
              background-color: rgba(120, 192, 145, 0.849);
            }
          }
          .search-input-sub {
            position: relative;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 0 20px;
            .airport-sub,
            .date-departure-sub,
            .date-return-sub {
              position: relative;
              display: inherit;
              flex-direction: column;
              letter-spacing: 1px;
              margin-left: 10px;
              .label {
                padding-top: 10px;
                padding-bottom: 10px;
              }
              .input-date {
                padding: 5px 10px;
              }
              .input {
                text-align: left;
                padding-right: 6rem;
                padding-top: 10px;
                padding-bottom: 10px;
              }
              .input-one,
              .input-two {
                padding-right: 60px;
                padding-top: 10px;
                padding-bottom: 8px;
                color: #53687e;
                text-align: center;
              }
              .input::placeholder {
                text-align: left;
                padding: 0 5px;
                color: #53687e;
              }
            }
          }
          .search-container-sub {
            display: flex;
            justify-content: center;
            padding: 20px;
            gap: 10px;
            .menu-booking-sub {
              gap: 20px;
              display: flex;
              .flight-sub,
              .hotel-sub,
              .car-sub,
              .booking-sub {
                p {
                  border: 1px solid white;
                  border-radius: 10px;
                  padding: 10px 20px;
                  i {
                    margin: 0 5px;
                  }
                }
                .active {
                  color: #78c091;
                }
              }
            }
          }
        }
      }
      // END MAIN SECTION

      // DEALS SECTION
      .deals-section {
        padding: 30px 0;
        background-color: white;
        p {
          padding-bottom: 30px;
          text-align: center;
          font-size: 38px;
          text-transform: capitalize;
        }
        .explore-deals-sub {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 10px;
          justify-content: space-evenly;
          justify-items: center;
          .deals-container-sub {
            background-color: #001524;
            padding-top: 5px;
            .deals-way-sub {
              font-size: 10px;
              padding-left: 10px;
              text-align: left;
            }
            .text-sub {
              font-size: 18px;
            }
            .deals-destination-sub,
            .deals-price-sub {
              font-size: 12px;
              text-align: left;
              padding-bottom: 10px;
              padding-top: 5px;
              padding-left: 5px;
            }

            .deals-price-sub {
              font-size: 28px;
            }
            .deals-container-footer-sub,
            .deals-container-header-sub {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              justify-items: center;
              .deals-date-sub,
              .deals-destination-sub {
                font-size: 12px;
                text-align: left;
                padding-left: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
              }
              .deals-booking-sub,
              .deals-price-sub {
                font-size: 14px;
                text-align: right;
                padding-right: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                text-decoration: underline;
                cursor: pointer;
              }
              .deals-booking-sub:hover {
                color: #db5461;
              }
              .deals-price-sub {
                text-decoration: none;
                font-size: 20px;
                color: #78c091;
              }
              .deals-destination-sub {
                font-size: 12px;
                color: #db5461;
              }
            }

            img {
              image-rendering: auto;
              object-fit: fill;
              width: fit-content;
              height: 200px;
            }
          }
        }
      }
      //END DEALS SECTION

      // EXPLORE SECTION
      .explore-section {
        padding: 30px 0;
        background-color: white;

        p {
          color: #001524;
          text-align: center;
          font-size: 38px;
          text-transform: capitalize;
        }
        .explore-image-sub {
          padding: 30px 0;
          background-color: #001524;
          position: relative;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-evenly;
          justify-items: center;
          gap: 20px;

          .image-new-york {
            position: relative;
            .new-york {
              position: absolute;
              top: 90px;
              right: 70px;
            }
          }

          .image-toronto {
            position: relative;
            .toronto {
              position: absolute;
              top: 90px;
              right: 80px;
            }
          }
          .image-dubai {
            position: relative;
            .dubai {
              position: absolute;
              top: 90px;
              right: 90px;
            }
          }

          .image-mexico {
            position: relative;
            .mexico-city {
              position: absolute;
              top: 90px;
              right: 50px;
            }
          }

          .mexico-city,
          .dubai,
          .toronto,
          .new-york {
            color: white;
            font-size: 32px;

            text-transform: capitalize;
            font-family: "Anton", sans-serif;
          }
          img {
            image-rendering: auto;
            object-fit: fill;
            border-radius: 100%;
            width: 250px;
            height: 230px;
          }
        }
      }
      .contact-section {
        .newsletter-container-sub {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          padding: 30px 0;
          .deals-contact-sub {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            padding: 30px 0;
            .location-sub,
            .mail-sub,
            .discount-sub {
              display: inherit;
              flex-direction: column;
              .fa-location-dot,
              .fa-envelope,
              .fa-tag {
                font-size: 12rem;
                color: #78c091;
              }
              span {
                color: #001524;
              }
              span {
                padding-top: 10px;
                font-size: 20px;
                text-transform: capitalize;
                color: #001524;
              }
            }
          }
          .subscribe-btn {
            margin-top: 20px;
            padding: 10px 30px;
            border-radius: 5px;
            border: 0.5px solid #001524;
            width: 50%;
            text-transform: capitalize;
            background-color: #78c091;
            color: white;
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
          }
          .subscribe-btn:hover {
            background-color: rgba(120, 192, 145, 0.849);
          }
          .form-sub {
            padding-top: 30px;
            padding-bottom: 60px;
            background-color: #001524;
            margin: 0 50px;
            height: fit-content;
            text-transform: capitalize;
            border-radius: 10px;
            .join-sub {
              padding-bottom: 30px;
              color: white;
              .join-text {
                font-size: 20px;
                padding-bottom: 20px;
              }
              .fa-arrow-down {
                font-size: 30px;
              }
            }

            .form-text {
              padding-top: 30px;
              padding-bottom: 20px;

              text-transform: capitalize;
              font-size: 20px;
              letter-spacing: 2px;
              color: white;
            }
            .form-email-sub {
              input {
                width: 50%;
                height: 35px;
                padding: 0 5px;
                border-radius: 5px;
                border: 0.5px solid black;
              }
            }
          }
        }
      }
    }
    // FOOTER
    footer {
      background-color: #001524;
      width: 100%;
      height: fit-content;
      text-align: left;
      .footer-container {
        padding: 80px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 80px;
        .connect,
        .about,
        .terms-policy,
        .hours-operating {
          display: inherit;
          flex-direction: column;

          p {
            color: white;
            font-size: 28px;
            text-transform: capitalize;
            padding-bottom: 10px;
          }
          .connect-sub,
          .connect-about,
          .terms-policy-sub,
          .hours-operating-sub {
            display: inherit;
            flex-direction: inherit;
            li {
              color: white;
              text-transform: capitalize;
              list-style: none;
              padding: 8px 0;
              a,
              a:active {
                color: white;
                text-transform: capitalize;
                font-size: 18px;
                text-decoration: none;
              }
              a:hover {
                color: #78c091;
              }
            }
            .social-media {
              text-align: left;
              font-size: 18px;
              padding: 10px;
              .social-media-sub {
                position: relative;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                p {
                  padding: 20px;
                }
              }
              a {
                display: flex;
                text-decoration: none;

                margin: 5px;
                color: white;
                padding: 20px;
                background-color: #78c091;
                border-radius: 100%;
                i {
                  font-size: 24px;
                }
              }
            }
          }
        }
      }
      .copy-right {
        text-align: center;
        p {
          color: white;
          text-transform: capitalize;
          padding: 10px;
          font-size: 16px;
        }
      }
    }
    // END FOOTER
  }
}

// MOBILE VIEW

@media screen and (max-width: 1023px) {
  .explore-section,
  .contact-section,
  .deals-section {
    .title-sub {
      color: #001524;
      font-size: 30px;
      text-transform: capitalize;
      text-align: center;
      p {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
      }
    }
    .sub-title {
      p {
        font-size: 16px;
        padding: 10px 0;
      }
    }
    .explore-deals-sub {
      color: white;
    }
  }

  body {
    // NAVIGATION SECTION

    header {
      .navigation-container {
        z-index: 10;
        position: fixed;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        background-color: #001524;
        .logo-sub {
          img {
            width: 150px;
            height: 40px;
          }
        }
        .mobile-gamburger-sub {
          position: relative;

          border: 1px solid #78c091;
          border-radius: 100%;
          width: 40px;
          height: 40px;
          padding: 0 4px;
          .hamburger-navigation-link-sub {
            position: relative;
            .one {
              background-color: white;
              width: 20px;
              height: 2px;
              position: absolute;
              top: 8px;
              right: 5px;
            }
            .two {
              background-color: white;
              width: 20px;
              height: 2px;
              position: absolute;
              top: 18px;
              right: 5px;
            }
            .three {
              background-color: white;
              width: 20px;
              height: 2px;
              position: absolute;
              top: 28px;
              right: 5px;
            }
          }
        }

        .navigation-link-sub {
          display: none;
        }
        .login-sub {
          display: none;
        }
      }
    }
    // END NAVIGATION SECTION

    // MAIN SECTION
    main {
      .image-container {
        width: 100vw;
        height: 90vh;
        img {
          z-index: 1;
          position: relative;
          width: inherit;
          height: inherit;
          image-rendering: auto;
        }
        span {
          z-index: 2;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: inherit;
          height: inherit;
        }
      }
      // END MAIN SECTION

      // DEALS SECTION
      .deals-section {
        padding: 30px 0;
        background-color: white;
        p {
          padding-bottom: 30px;
          text-align: center;
          font-size: 38px;
          text-transform: capitalize;
        }
        .explore-deals-sub {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 10px;
          justify-content: space-evenly;
          justify-items: center;
          .deals-container-sub {
            background-color: #001524;
            padding-top: 5px;
            .deals-way-sub {
              font-size: 10px;
              padding-left: 10px;
              text-align: left;
            }
            .text-sub {
              font-size: 18px;
            }
            .deals-destination-sub,
            .deals-price-sub {
              font-size: 12px;
              text-align: left;
              padding-bottom: 10px;
              padding-top: 5px;
              padding-left: 5px;
            }

            .deals-price-sub {
              font-size: 28px;
            }
            .deals-container-footer-sub,
            .deals-container-header-sub {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              justify-items: center;
              .deals-date-sub,
              .deals-destination-sub {
                font-size: 12px;
                text-align: left;
                padding-left: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
              }
              .deals-booking-sub,
              .deals-price-sub {
                font-size: 14px;
                text-align: right;
                padding-right: 10px;
                padding-top: 5px;
                padding-bottom: 5px;
                text-decoration: underline;
                cursor: pointer;
              }
              .deals-booking-sub:hover {
                color: #db5461;
              }
              .deals-price-sub {
                text-decoration: none;
                font-size: 20px;
                color: #78c091;
              }
              .deals-destination-sub {
                font-size: 12px;
                color: #db5461;
              }
            }

            // img {
            //   image-rendering: auto;
            //   object-fit: cover;
            //   width: fit-content;
            //   height: 200px;
            // }
          }
        }
      }
      //END DEALS SECTION

      // EXPLORE SECTION
      .explore-section {
        padding: 30px 0;
        background-color: white;

        p {
          color: #001524;
          text-align: center;
          text-transform: capitalize;
        }
        .explore-image-sub {
          padding: 30px 0;
          background-color: #001524;
          position: relative;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-evenly;
          justify-items: center;
          gap: 20px;

          .image-new-york {
            position: relative;
            .new-york {
              position: absolute;
              top: 90px;
              right: 70px;
            }
          }

          .image-toronto {
            position: relative;
            .toronto {
              position: absolute;
              top: 90px;
              right: 80px;
            }
          }
          .image-dubai {
            position: relative;
            .dubai {
              position: absolute;
              top: 90px;
              right: 90px;
            }
          }

          .image-mexico {
            position: relative;
            .mexico-city {
              position: absolute;
              top: 90px;
              right: 50px;
            }
          }

          .mexico-city,
          .dubai,
          .toronto,
          .new-york {
            color: white;
            font-size: 32px;

            text-transform: capitalize;
            font-family: "Anton", sans-serif;
          }
          img {
            image-rendering: auto;
            object-fit: fill;
            border-radius: 100%;
            width: 250px;
            height: 230px;
          }
        }
      }
      .contact-section {
        .newsletter-container-sub {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          padding: 30px 0;
          .deals-contact-sub {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            padding: 10px 0;
            gap: 20px;
            .location-sub,
            .mail-sub,
            .discount-sub {
              display: inherit;
              flex-direction: column;
              .fa-location-dot,
              .fa-envelope,
              .fa-tag {
                font-size: 3rem;
                color: #78c091;
              }
              span {
                color: #001524;
              }
              span {
                padding-top: 10px;
                font-size: 20px;
                text-transform: capitalize;
                color: #001524;
              }
            }
          }
          .subscribe-btn {
            margin-top: 20px;
            padding: 10px 30px;
            border-radius: 5px;
            border: 0.5px solid #001524;
            width: 50%;
            text-transform: capitalize;
            background-color: #78c091;
            color: white;
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
          }
          .subscribe-btn:hover {
            background-color: rgba(120, 192, 145, 0.849);
          }
          .form-sub {
            padding-top: 30px;
            padding-bottom: 60px;
            background-color: #001524;
            margin: 0 20px;
            height: fit-content;
            text-transform: capitalize;
            border-radius: 10px;
            .join-sub {
              padding-bottom: 30px;
              color: white;
              .join-text {
                font-size: 20px;
                padding-bottom: 20px;
              }
              .fa-arrow-down {
                font-size: 30px;
              }
            }

            .form-text {
              padding-top: 30px;
              padding-bottom: 20px;
              text-transform: capitalize;
              font-size: 20px;
              letter-spacing: 2px;
              color: white;
            }
            .form-email-sub {
              input {
                width: 50%;
                height: 35px;
                padding: 0 5px;
                border-radius: 5px;
                border: 0.5px solid black;
              }
            }
          }
        }
      }
    }
    // FOOTER
    footer {
      background-color: #001524;
      width: 100%;
      height: fit-content;
      text-align: left;
      .footer-container {
        text-align: center;
        padding: 80px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 80px;
        .connect,
        .about,
        .terms-policy,
        .hours-operating {
          display: inherit;
          flex-direction: column;
          p {
            color: white;
            font-size: 28px;
            text-transform: capitalize;
            padding-bottom: 10px;
          }
          .connect-sub,
          .connect-about,
          .terms-policy-sub,
          .hours-operating-sub {
            display: inherit;
            flex-direction: inherit;
            li {
              color: white;
              text-transform: capitalize;
              list-style: none;
              padding: 8px 0;
              a,
              a:active {
                color: white;
                text-transform: capitalize;
                font-size: 18px;
                text-decoration: none;
              }
            }
            .social-media {
              text-align: center;
              font-size: 18px;
              padding-top: 30px;

              .social-media-sub {
                position: relative;
                display: flex;
                justify-content: center;
                justify-items: center;
                flex-direction: column;
                p {
                  padding: 20px 0;
                }
              }
              a {
                width: 70px;
                margin: 10px auto;
                color: white;
                padding: 20px 0;
                background-color: #78c091;
                border-radius: 100%;
                i {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
      .copy-right {
        text-align: center;
        p {
          color: white;
          text-transform: capitalize;
          padding: 10px;
          font-size: 16px;
        }
      }
    }
    // END FOOTER
  }
}
